#main_container
{
    margin-bottom:50px;
}

.centrage
{
    padding-top:100px;
    padding-bottom:100px;
}

.centrage_index
{
    padding-top:50px;
    padding-bottom:50px;
}

.centrage_accueil
{
    padding-top:25px;
    padding-bottom:25px;
}

.centrage_details
{
    padding-top:15px;
    padding-bottom:15px;
}


